syntax: glob

# OSX
.DS_Store

# Misc
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.orig
*.bak
*.class
*~
*.old

# IDEA
*.iml
*.iws
*.ipr

# Java
out/
target/
classes/
tmp/
dist/
test-out/

# Eclipse
.project
.settings
.classpath
.manager

# SCM
.svn
.hg*

# Clover
.clover

# DB
*.sqlite3
*.db

# IDEA Ruby Plugin
.generators
.rakeTasks
.secret*
.vim/bundle/vimclojure
