[core]
	editor = mate -w
	excludesfile = /Users/oc/.gitignore
	autocrlf = input
[alias]
	st = status
	ci = commit
	co = checkout
	pu = push origin master
	up = pull --rebase
	sup = svn fetch
	sci = svn dcommit
	sreb = svn rebase
	srebt = svn rebase remotes/trunk
	reb = rebase
[user]
	name = Ole Christian Rynning
	email = oc@rynning.no
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	tool = opendiff
[filter "tabspace"]
[filter "tab2space"]
