# You can copy this file to
# /etc/my.cnf to set global options,
# ~/.my.cnf to set user-specific options.

[client]
port		= 3306
socket		= /tmp/mysql.sock
default-character-set=utf8 
auto-rehash

# The MySQL server
[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
skip-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

default-character-set=utf8
character-set-server = utf8
collation-server = utf8_general_ci

#skip-networking

log-bin=mysql-bin
binlog_format=mixed
server-id	= 1

# Set default storage engine to innodb
default-storage-engine = innodb
innodb_data_home_dir = /opt/homebrew/var/mysql/
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /opt/homebrew/var/mysql/
innodb_buffer_pool_size = 16M
innodb_additional_mem_pool_size = 2M
innodb_log_file_size = 5M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

[mysqldump]
quick
max_allowed_packet = 16M
default-character-set=utf8

[mysql]
auto-rehash
default-character-set=utf8

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
